{% extends "layoutgeneral.html.twig" %}
{% block titre %}
 {{ parent() }} : Accueil
{% endblock %}
{% block contenu %}
 <h3>Gestion des Salles Informatiques</h3>
 <p><i>page visitée {{ nbreFois }} fois.</i></p>
 <p><a href="{{ path('salle_tp_ajouter2') }}">ajouter une salle</a></p>
{% endblock %}