{% extends "layoutgeneral.html.twig" %}
{% block titre %}
 {{ parent() }} - ajouter une salle
{% endblock %}
{% block contenu %}
 <h3>renseigner les champs ci-dessous</h3>
 {% include "salle/formulaire.html.twig" %}
{% endblock %}
