<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="navigation" ><hr />
        <a href="{{ path('salle_tp_accueil') }}">accueil</a> -
        {{ render(path('salle_tp_navigation')) }} }}
        <hr /></div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
