<!DOCTYPE html>
<html>
 <body>
<div id="navigation" ><hr />
 <a href="{{ path('salle_tp_accueil') }}">accueil</a> -
 {{ render(path('salle_tp_navigation')) }}
<hr /></div>

<h1>{% block titre %}Salle de Tp
 {% endblock %}
 </h1>
<div id="contenu" >
 {% block contenu %}
 {% endblock %}
</div>
<hr />
<div id="pied_de_page" >
<p>&copy; DF.</p>
</div>
</body>
</html>